@font-face {
  font-family: exoplanetaria;
  src: url(Exoplanetaria.ttf);
}

@font-face {
  font-family: tsuki;
  src: url(NineTsukiRegular.ttf);
}

body,
.dropdown-menu {
  font-family: 'exoplanetaria';
  background-color: #202040;
}

.navbar,
.offcanvas-body,
.card-header,
.accordion-button,
.accordion-button:hover,
.accordion-item,
.modal-header,
.modal-footer,
.profil {
  background-color: #543864;
}

#gambar,
#hari,
#sidebarMenu {
  background-color: #FFBD69;
}

.offcanvas-title,
.dropdown-item,
.nav-link,
.nav-link:hover,
.nav-item,
.btn-cari,
.btn-cari:hover,
.header,
.scroll-up,
.accordion-button,
.judul,
.modal-title,
.profil,
#logo,
#item,
#merah {
  color: #FF6363;
}

.isi,
.isi-link,
.dropdown-item:hover,
.carousel-caption,
.genre,
.dropdown-toggle:hover,
.navbar-brand:hover,
.accordion-button:hover,
.scroll-up:hover,
.form-label,
#item:hover,
#deskripsi,
#page:hover,
#cream {
  color: #FFBD69;
}

.info,
.page-link:hover,
.activity,
.anime,
#review,
#menu:hover,
#hitam,
#hari,
#batal {
  color: #202040;
}

.info:hover,
.isi-link:hover,
.user,
.anime:hover,
#review:hover,
#menu,
#hari:hover,
#batal:hover,
#simpan:hover {
  color: #543864;
}

.navbar-toggler {
  background-color: #FF6363;
  color: #543864;
}

.cari,
.cari:hover {
  background-color: #202040;
  color: #FF6363;
}

.navbar-brand {
  font-family: 'tsuki';
  font-size: xx-large;
  color: #FF6363;
}

.card,
#simpan {
  background-color: #FFBD69;
  color: #202040;
}

.page-link,
.hero:hover {
  background-color: #543864;
  color: #FF6363;
}

.hero {
  background-color: #543864;
  color: #FFBD69;
}

.offcanvas-header,
.modal-body {
  background-color: #202040;
}

#head {
  padding-right: 20px;
}

#title {
  padding-left: 25px;
}

#batal {
  background-color: #FF6363;
}

#logo {
  font-family: 'tsuki';
}

.quote::after {
  content: '"';
}

.quote::before {
  content: '"';
}

.lead::before {
  content: "- ";
}

.lead::after {
  content: " -";
}

#slide {
  filter: brightness(50%);
}